<!DOCTYPE html>
<html>
<head>
    <style>
        div {
            background-color: rgb(209, 209, 209);
            color: red;
            
        }

        .boder{
            border:2px solid blue;
            margin: 10px;
        }
        
        .header{
            padding: 5px 50px;
            text-align: center;
            color: blue;
            background-color:palevioletred;

                }

        ul>li{
             background-color: aqua;
             margin: 30px;
             padding:10px 20px;
             border-radius: 7%;
             color: brown;
             transition: 0.3s ease-in-out;
             background-color: pink;
        }

        
            .main-box {
                display: flex;
    
           

        }
        ul>li:hover{
            background-color: blueviolet;
            scale: 1.1;
            border-radius: 1px;

        }

        .navbar {
            display: flex;
            list-style-type: none;
            justify-content: center;
            

        }

        .box-a{
             width: 50%;
            text-align: center;

            border: 2px solid red;
            margin: 2px
        }

        .box-b{
            
            width: 50%;
            text-align: center;

            border: 2px solid red;
            margin: 2px;
        }

        a{
            text-decoration: none;
            color: brown;
        }
        

           


</head>
</html>
