*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.points{

   margin-top:40px;
   left: 200px;
    
}
.row2{
     
    display: flex;
    height: 200px;
    background-color: bisque;
   
}
.col2{

    padding-left:600px;
    text-align: center;
    margin-top: 70px;
}
.body{

    display: flex;
    flex: 50%;
    justify-content: space-between;
    margin-right: 550px;
    width: 100%;
    margin-top: 30px;
    
}

 .bill{
    margin-left: 60px;
    width: 50%;
    color: darkred;
 }  
 .ship{
    width: 50%;
    color: darkred;
 }


.box{

    border: 2px solid grey;
    height: 30px;
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.box2{
    border: 2px solid grey;
    height:30px;
    width: 300px;
   border-top: 0;
   border-left:0;
   border-right:0;

}
.table{

    margin-left: 100px;
    
   
    
}
table, tr,th,td{
    
    padding: 1rem;
    border-collapse: collapse;
 }
    

.header1{

    background-color:darkred;
    
}
td{
    padding: 30px;
}
    
th{
    padding: 10px;
}

.footer{

    display: flex;
    width: 100%;
}
.remark{

    padding-left: 100px;
    margin-top: 30px;
}
.subtotal{

   margin-left: 428px;

}
.footer1{
     
    margin-top: 80px;
}
/* .header{

    display: flex;
    background-color: beige;
}
.logo{
   display: flex;
}
.invoice{
     

   
    
    margin-left: 800px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
 }
 .body{

    display: flex;
    width: 100px;
   gap: 100px;
   text-align: center;

 }
.bill{
     width: 50%;
     padding-right:500px;
     
}
.bill h1{
    border-bottom: 1px solid grey;
}
 .ship{

    width:50%;
    padding-right:500px;
    border: 2px solid grey;
    border-top: 0;
     border-left: 0;
     border-right: 0;
    
}   */

    
    
 