.main{

    padding-left: 10%;
    padding-right: 10%;
    background-color: honeydew;
    border:10px solid cadetblue;
}

tr,td{
    height: 70px;
    font-size: larger;

} 
.header{

    font-size:xx-large;
    border:2px solid grey;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-style: dotted;
    background-color: cadetblue;
    color: honeydew;
    padding: 20px;
    
}
.lendersinfo{
    border: 2px solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: dotted;
    padding-top: 25px;
    
     
}

.loaninfo{

    border: 2px solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: dotted; 
    padding-top: 25px;
}

.termscondition{

    text-align: center;
    background-color: cadetblue;
    padding: 10px;
    width: 110%;
    color: honeydew;
}
    
    

.terms{

    padding-left: 5px;
    padding-right: 10%;

}

.condition1{

   
   margin-right: 20px;
   padding-top: 100px;

}
.para{

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.condition2{

    margin-right: 20px;
   padding-top:60px;
}

.para2{

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.condition3{

    margin-right: 20px;
    padding-top:60px;
}

.condition4{

    margin-right: 20px;
   padding-top:60px;
}
.para3{

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.para4{

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.condition5{
    
    margin-right:20px;
    padding-top:60px;
}

.para5{

    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
}

.condition6{

    margin-right:20px;
    padding-top:60px;
}

.para6{

    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
    
}

.condition7{

    margin-right:20px;
    padding-top:60px;

}

.condition8{

    margin-right:20px;
    padding-top:60px;
}
.para8{

    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}
.para7{
    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
    
}
.condition9{

    border: 2px solid grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  border-style: dotted;
    margin-right:20px;
    padding-top:60px;
    height: 70px;
}

.parent{

    display: flex;
    
    gap:300px
}
.child1{

   
    padding:20px;
    margin-bottom:15px;
    font-size: larger;
    
}


.child2{

    border: 2px solid grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: dotted;
    padding:20px;
    margin-bottom: 148px;
    font-size: larger;
}
.signature{

    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: dotted;
    margin-bottom:100px;
}